//fontawesome
@import "font-awesome-sprockets";
@import "font-awesome";

// --- colors
$custom: #669933;
$colors: (
  "blue": $custom
);
$theme-colors: (
  "primary": $custom,
  "custom": $custom
);

//bootstrap
$icon-font-path: "bootstrap/dist/fonts/";
@import "bootstrap/scss/bootstrap";

body {
  padding-top: 60px;
}

.btn {
  margin-bottom: .2em;
}

